# Lab 2 - Advanced Python

Expected Outcomes:
By the end of this lab, students should be able to:
• Perform data cleaning, filtering, and aggregation using Pandas.
• Implement advanced numerical computations with NumPy.
• Create insightful visualizations using Matplotlib.
This structured lab should take approximately 2 hours, covering all essential aspects of Pandas, NumPy, and Matplotlib in an advanced Python setting

# Data Cleaning & Manipulation

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1.Load the dataset and convert the Formatted Date column into a proper datetime format.

In [46]:
dataset = pd.read_csv('data.csv')
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

2.Fill missing values in the Precip Type column with the most frequent value.

In [47]:
missing_values_count = dataset['Precip Type'].isna().sum()
print("missing values count :",missing_values_count)

most_frequent_value = dataset['Precip Type'].mode()[0]
print("most_frequent_value :",most_frequent_value)

dataset['Precip Type'].fillna(most_frequent_value, inplace=True)
missing_values_count = dataset['Precip Type'].isna().sum()
print("missing values count :",missing_values_count)

missing values count : 517
most_frequent_value : rain
missing values count : 0

3.Create a new column Temperature (F) that converts Temperature (C) to Fahrenheit.

In [48]:
dataset['Temperature (F)'] = dataset['Temperature (C)'] * 9/5 + 32
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,49.05
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,48.84
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,48.88
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,46.92
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,47.76

4.Extract the year and month from the Formatted Date column and create separate columns for them.

In [57]:


dataset['Formatted Date'] = pd.to_datetime(dataset['Formatted Date'], utc=True) 
dataset['Formatted Date'] = dataset['Formatted Date'].dt.tz_localize(None)  

dataset['Year'] = dataset['Formatted Date'].dt.year
dataset['Month'] = dataset['Formatted Date'].dt.month
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F),Year,Month
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,49.05,2006,3
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,48.84,2006,3
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,48.88,2006,4
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,46.92,2006,4
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,47.76,2006,4

5.Group the data by year and find the average temperature for each year.

In [56]:
dataset.groupby("Year")[["Temperature (C)"]].mean()

      Temperature (C)
Year
2005         0.577778
2006        11.215225
2007        12.134677
2008        12.161819
2009        12.269682
2010        11.200176
2011        11.524934
2012        11.986824
2013        11.941017
2014        12.528228
2015        12.312088
2016        11.987381

# Data Filtering & Analysis

6.Find the month with the highest average humidity

In [59]:
df = dataset.groupby("Month").mean()
print(df[["",""]])

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Temperature (F),Year
Month,,,,,,,,,,
1,0.815678,-1.938761,0.850698,11.515865,180.460655,7.835825,0.0,1006.245222,33.468220,2011.000000
2,2.166880,-0.555908,0.813407,12.180815,188.733253,8.730536,0.0,1003.925126,35.900383,2011.009646
3,6.914976,5.082583,0.702849,13.415825,186.632698,10.922231,0.0,1001.564999,44.446957,2011.000000
4,12.769200,12.158287,0.641051,11.876139,186.435859,11.784991,0.0,1009.995154,54.984561,2011.000000
5,16.874455,16.733265,0.691650,10.953186,188.143328,11.889730,0.0,1003.376970,62.374019,2011.000000
6,20.728510,20.755415,0.686418,9.632453,202.804924,11.994000,0.0,1002.019582,69.311318,2011.000000
7,22.965462,22.977605,0.639593,9.637124,202.937049,12.188605,0.0,1008.562854,73.337832,2010.998900
8,22.339134,22.264600,0.635300,8.942707,195.211135,12.454307,0.0,1001.470591,72.210441,2010.997076
9,17.503458,17.389856,0.689163,9.610204,187.515025,11.598414,0.0,1000.835433,63.506225,2011.000000
10,11.334119,10.684673,0.774443,10.008495,177.004765,9.729957,0.0,1003.099488,52.401414,2011.000000
11,6.587549,5.020255,0.827917,10.947953,173.176389,8.191922,0.0,1012.420129,43.857588,2011.000000
12,1.625086,-0.960443,0.870398,11.094578,181.143084,6.769961,0.0,985.781311,34.925155,2010.998656

7.Identify the top 5 windiest days based on Wind Speed (km/h).

8.Filter the dataset to include only records where the temperature is below freezing (0°C).

9.Find the date with the lowest visibility and report the weather summary for that day.

10.Calculate and plot the correlation matrix between numerical features in the dataset.

# Numerical Operations

11.Convert the Temperature (C) column into a NumPy array and compute the mean and standard deviation.

12.Normalize the Humidity column using Min-Max scaling with NumPy.

13.Create a 2D NumPy array from Wind Speed (km/h) and Wind Bearing (degrees), then find the row with the maximum wind speed.

14.Perform element-wise multiplication of Temperature (C) and Humidity using NumPy.|

# Simulations & Mathematical Operations

16.Simulate a new dataset with random temperature values (between -10°C and 40°C) for 1000 days using NumPy.

17.Apply a linear transformation to Visibility (km) using the function: new_visibility = 2.5 * old_visibility + 5.

19.Generate a synthetic dataset of wind speeds following a normal distribution (mean = 10 km/h, std = 5 km/h) for 1000 values.

20.Solve a linear equation system using NumPy’s linalg.solve with weather-related coefficients.

# Data Visualization

21.Plot a time series graph showing Temperature (C) variation over the years.

22.Create a scatter plot of Humidity vs. Temperature (C).

23.Generate a histogram of Wind Speed (km/h) with 20 bins

24.Create a bar chart comparing average monthly temperatures.

25.Plot a box plot for Visibility (km) grouped by Precip Type.